* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow-y: hidden;
}


/*Legenda*/
.legend-container {
  position: absolute;
  bottom: 50px;
  left: 20px;
  background: rgba(188, 188, 188, 0.2);
  backdrop-filter: blur(3px);
  padding: 12px;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  font-family: Arial, sans-serif;
}

.legend-title {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 8px;
  text-align: center;
  color: #363636;
}

.legend-items {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.legend-item {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: #3f3f3f;
}

.legend-color {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  margin-right: 8px;
  display: inline-block;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

/* Botão de voltar */
#back-button {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 10px 20px;
  font-size: 14px;
  background: transparent;
  backdrop-filter: blur(3px);
  border: 2px solid rgba(0, 0, 0, 0.2);
  color: #000;
  border-radius: 6px;
  text-decoration: none;
  transition: background 0.2s ease, color 0.2s ease;
  z-index: 10;
}

#back-button:hover {
  background: #232323;
  color: #d1d1d1;
  border: none;
}

/* Estilo do botão de abrir o menu */
#menu-toggle {
  position: absolute;
  top: 20px;
  right: 30px;
  padding: 12px 13px;
  font-size: 15px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  border-radius: 25%;
  color: rgb(114, 105, 105);
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 9px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
  cursor: pointer;
  z-index: 10;
  border: none;
}

#menu-toggle:hover {
  background: rgba(63, 60, 60, 0.5);
}

/* Botão de Fechar */
#close-btn {
  align-self: flex-end;
  background: rgba(255, 255, 255, 0.3);
  border: none;
  padding: 5px 10px;
  margin-right: 30px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 50%;
  transition: background 0.3s ease-in-out;
}

#close-btn:hover {
  background: rgba(245, 0, 0, 0.5);
  color: rgb(194, 29, 0);
}

.back-to-menu {
  margin-top: 10px;
  padding: 6px 12px;
  background: rgba(255, 255, 255, 0.3);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.back-to-menu:hover {
  background: rgba(245, 0, 0, 0.5);
  color: rgb(194, 29, 0);
}

/* Rotation Slider Grafo _section */
.rotation-control {
  position: absolute;
  bottom: 50px;
  right: 20px;
  padding: 10px 20px;
  background: transparent;
  backdrop-filter: blur(3px);
  border: 2px solid rgba(0, 0, 0, 0.2);
  color: #000;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  font-family: Arial, sans-serif;
  cursor: pointer;
  transition: background 0.2s ease, color 0.2s ease;
  display: flex;
  align-items: center;
  gap: 10px;
  z-index: 10;
}

.rotation-control:hover {
  background: #1f1f1f;
  color: #000000;
  border:none;
}

.rotation-control label {
  font-size: 14px;
  color: rgb(80, 80, 80);
}

a .rotation-control input {
  width: 100px;
}

.rotation-control span {
  font-size: 13px;
  font-weight: bold;
  color: rgb(80, 80, 80);
}

/*Bloco de Leitura*/
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(8px);
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
}

.popup.hidden {
  display: none;
}

.popup-content {
  background: #111;
  color: white;
  padding: 20px;
  border-radius: 16px;
  max-width: 500px;
  width: 90%;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
}

.popup-close {
  float: right;
  cursor: pointer;
  font-size: 20px;
  color: #ccc;
}

.popup a {
  color: #79d6ff;
  text-decoration: underline;
}

.post-box {
  background: rgba(255, 255, 255, 0.07);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 16px;
  padding: 16px;
  margin-bottom: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease;
}

.post-box:hover {
  transform: translateY(-4px);
}

.post-box strong {
  display: block;
  font-size: 15px;
  margin-bottom: 6px;
  color: #fff;
}

.post-box p {
  font-size: 13px;
  line-height: 1.5;
  color: #e1e1e1;
  margin-bottom: 10px;
}

.post-box .post-meta {
  font-size: 12px;
  color: #aaa;
  margin-bottom: 6px;
}

.post-box .post-link {
  font-size: 13px;
  color: #4ea9ff;
  text-decoration: none;
}

.post-box .post-link:hover {
  text-decoration: underline;
}

/*Section*/
section {
  width: 100%;
  scroll-margin-top: 50px;
  padding: 20px 10px;
  box-sizing: border-box;
}

#grafo-section {
  height: 100vh;
  position: relative;
  background-color: #f0faff6b;
  background-image: radial-gradient(rgba(0, 0, 0, 0.259) 1px, transparent 0);
  background-size: 20px 20px;
  background-position: 0 0;
  overflow: hidden;
}

#grafo-container {
  width: 100%;
  height: 100%;
  overflow: visible;
}

svg {
  width: 100%;
  overflow: visible;
  height: 100vh;
  background: none;
  border: none;
}

#menu-informacoes-section {
  width: 100%;
  height: auto;
  min-height: 100vh;
  background: linear-gradient(to bottom, #f2f2f2, #e0e0e0);
  padding: 80px 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
}

.info-container {
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(12px);
  padding: 40px 20px;
  border-radius: 20px;
  max-width: 600px;
  width: 90%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

#mini-menu {
  position: absolute;
  top: 20px;
  right: 10px;
  z-index: 100;
}

.mini-tab {
  background: transparent;
  backdrop-filter: blur(3px);
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  padding: 10px 20px;
  font-size: 14px;
  color: #000000;
  font-weight: 500;
  letter-spacing: 0.5px;
  cursor: pointer;
  text-decoration: none;
  transition: background 0.2s ease, color 0.2s ease;
}

.mini-tab:hover {
  background: #444;
  color: #fff;
}

#grafo-container {
  cursor: grab;
}

#grafo-container:active {
  cursor: grabbing;
}

#zoom-controls {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 12px;
  z-index: 100;
}

#zoom-controls button {
  padding: 10px 16px;
  font-size: 18px;
  border: none;
  background: rgba(188, 188, 188, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 12px;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
}

#zoom-controls button:hover {
  background: rgba(99, 99, 99, 0.708);
  transform: scale(1.05);
}

/*Painel de Infos*/
#explorar-cluster-panel {
  font-family: 'Inter', sans-serif;
  opacity: 0;
  transform: translateX(100%);
  pointer-events: none;
  transition: opacity 0.4s ease, transform 0.4s ease;
  top: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(20px);
  border-radius: 20px 0 0 20px;
  overflow-y: auto;
  max-height: 100vh;
  max-width: 500px;
  width: 400px;
  height: 100vh;
  font-size: 12px;
  flex-direction: column;
  gap: 20px;
  padding: 30px 20px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  display: none;
  position: absolute;
  z-index: 1000;
}

#explorar-cluster-panel h4 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 12px;
  color: #353535;
  letter-spacing: 0.5px;
}

/* Quando aberto */
#explorar-cluster-panel.open {
  display: block;
  opacity: 1;
  transform: translateX(0);
  pointer-events: auto;
}

/* Botão fechar */
.close-btn {
  position: absolute;
  top: 10px;
  right: 30px;
  background: none;
  border: none;
  font-size: 22px;
  color: #323232;
  cursor: pointer;
  transition: color 0.3s;
}

.close-btn:hover {
  color: #f70000;
}

#cluster-select {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border: none;
  border-radius: 10px;
  padding: 12px 16px;
  font-size: 14px;
  color: #393939;
  margin-bottom: 20px;
  outline: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

#cluster-select option {
  background: rgba(255, 255, 255, 0.8);
  color: #000;
  border: none;
}

.cluster-info p,
.cluster-posts p {
  margin: 4px 0;
}

#cluster-info {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8px);
  border-radius: 12px;
  padding: 16px;
  margin-bottom: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: background 0.3s ease, transform 0.3s ease;
}

#cluster-info p {
  font-size: 12px;
  color: #3b3b3b;
  margin: 4px 0;
}

#cluster-actions button {
  padding: 10px;
  margin: 4px 0;
  border: none;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px);
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  transition: background 0.3s;
}

#cluster-actions button:hover {
  background: rgba(255, 255, 255, 0.4);
}

.post-card {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8px);
  border-radius: 12px;
  padding: 16px;
  margin-bottom: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: background 0.3s ease, transform 0.3s ease;
}

.post-card:hover {
  background: rgba(255, 255, 255, 0.2);
  transform: translateY(-4px);
}

.post-card strong {
  font-size: 15px;
  color: #313131;
}

.post-cards-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 10px;
}

.post-card .author {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 4px;
  color: #2a2a2a;
}

.post-card .post-meta {
  font-size: 12px;
  color: #444;
  margin-top: 4px;
  margin-bottom: 6px;
}

.post-card .post-link {
  font-size: 13px;
  color: #0077cc;
  text-decoration: none;
}

.post-card .post-link:hover {
  color: #003d6f;
}

#explorar-cluster-panel::-webkit-scrollbar {
  width: 8px;
}

#explorar-cluster-panel::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.118);
  border-radius: 10px;
}

#explorar-cluster-panel::-webkit-scrollbar-thumb {
  background: rgba(100, 100, 100, 0.4);
  border-radius: 10px;
}

#explorar-cluster-panel::-webkit-scrollbar-thumb:hover {
  background: rgba(100, 100, 100, 0.7);
}